{% extends "core/base.html" %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
    <section class="hero ">
        <div class="hero-body">
            <div class="container">
                <section class="section">
                    <div class="columns">
                        <div class="column is-8 is-offset-2">
                            <h1 class="title is-2"><strong>{{ recipe.title }}</strong></h1><br>
                            <h2 class="subtitle">{{ recipe.brief_description }}</h2>
                            By <strong>{{ recipe.author }}</strong>, <small>{{ recipe.created_at|date:"d M Y H:i" }}</small><br><br><!-- |timesince-->
                            <h3 class="title is-4">Method:</h3>
                            {{ recipe.full_description }}

                            <section class="section">
                                <form method="get" action="{% url 'recipe_detail' recipe.slug %}">
                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            <label class="label">Ingredients for</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="field has-addons">
                                                    <div class="control">
                                                        <input class="input" name="portions" type="number" value="{{ portions }}" min="1" max="500" >
                                                    </div>
                                                    <div class="control">
                                                        <button class="button is-info" type="submit">portions</button>
                                                    </div>
                                                    <!--<p class="control">
                                                        <a class="button is-light">
                                                            Reset
                                                        </a>
                                                    </p>-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <br>
                                <table style="width:100%" class="table is-bordered is-hoverable is-striped is-fullwidth">
                                    <col style="width:33.33%">
                                    <col style="width:66.67%">
                                    <tbody>
                                        {% if new_ingredient_quantities %}
                                            {% for ele in new_ingredient_quantities %}
                                                <tr>
                                                    <td style="text-align:right">
                                                        {{ ele.1|floatformat:'-2' }}
                                                        {% if ele.2 == "unitless" %}
                                                        {% else %}
                                                            {{ ele.2 }}
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {{ ele.0 }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% else %}
                                            {% for ele in recipe.ingredientquantity_set.all %}
                                                <tr>
                                                    <td style="text-align:right">
                                                        {{ ele.quantity|floatformat:'-2' }}
                                                        {% if ele.unit.name == "unitless" %}
                                                        {% else %}
                                                            {{ ele.unit.name }}
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        {{ ele.ingredient.name }}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </section>

                            Categories: <br>
                            {% for ele in recipe.categories.all %}
                                <a href="{% url 'recipe_category' ele.slug %}">{{ ele.name }}{% if forloop.first and not forloop.revcounter0 < 1 %},{% endif %}</a>
                            {% endfor %}<br>
                            Avg. rating: {{ recipe.average_rating }}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
{% endblock %}