{% extends "core/base.html" %}

{% block title %}{{ recipe.title }}{% endblock %}

{% block content %}
    <section class="hero ">
        <div class="hero-body">
            <div class="container">
                <section class="section">
                    <div class="columns">
                        <div class="column is-8 is-offset-2">
                            Title: <strong>{{ recipe.title }}</strong><br>
                            Author: <strong>{{ recipe.author }}</strong><br>
                            Created: <strong>{{ recipe.created_at|date:"d M Y H:i" }}</strong><br><br> <!-- |timesince-->
                            Description: <br>{{ recipe.brief_description }}<br><br>
                            Instruction: <br>{{ recipe.full_description }}<br><br>
                            Ingredients: <br>
                            {% for current_ingredient in recipe.ingredientquantity_set.all %}
                                {{ current_ingredient.ingredient.name }}: {{ current_ingredient.quantity }} {{ current_ingredient.unit }} <br>
                            {% endfor %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
{% endblock %}